# {{ ansible_managed }}

{% for host in lsyncd_secondary_nodes %}
# lsyncd {{ host }}
Host {{ host }}
	User {{ username }}
	IdentityFile /root/.ssh/lsyncd.key
 	StrictHostKeyChecking no
 	UserKnownHostsFile=/dev/null

{% endfor %}
